@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  #f2ebe3;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgPerfume > img, .text{
   width: 420px;
   height: 700px;

}
.imgPerfume >img{
       border-radius: 20px 0 0 20px;
}

.text{
    background-color: #ffffff;
    border-radius: 0 20px 20px 0;
}

h2{
    font-family: "Montserrat", sans-serif; 
    font-weight: 200;
    font-size: 23px;
    padding: 40px 0 35px 30px;
    letter-spacing: 3px;

}

h1{
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 37px;
    line-height: 38px;
    padding:  0  0 35px 30px;
}

p{
    font-family: "Montserrat", sans-serif; 
    font-weight: 500;
    line-height: 24px;
    font-size: 18px;
    padding: 0 0 35px 30px;
    
}